.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 15px; /* Reduced padding */
  margin: 10px;
  width: 100%; /* Make boxes 100% width */
  max-width: 800px;
}

.header {
  background-color: #f0f0f0;
}

.sponsor img {
  display: block;
  margin: 0 auto;
}

.player-list {
  background-color: #f9f9f9;
  font-size: 16px; /* Smaller font size */
}

.tournament-details {
  background-color: #e0e0e0;
  font-size: 14px; /* Smaller font size */
}

.matches {
  background-color: #f9f9f9;
}

.statistics {
  background-color: #e0e0e0;
}

.ranking-table {
  background-color: #f9f9f9;
}

.statistics-table,
.ranking-table-table {
  width: 100%;
  border-collapse: collapse;
}

.statistics-table th,
.statistics-table td,
.ranking-table-table th,
.ranking-table-table td {
  border: 1px solid #ccc;
  padding: 5px; /* Reduced padding */
  text-align: center;
  font-size: 16px; /* Smaller font size */
}

.statistics-table th,
.ranking-table-table th {
  background-color: orange;
  font-size: 16px;
}

.statistics-table tbody tr:nth-child(even),
.ranking-table-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.container {
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap */
}

.player-list-container,
.tournament-details-container,
.matches,
.statistics,
.ranking-table {
  flex: 1; /* Each container takes equal space */
  margin: 5px; /* Add margin between containers */
}
.playerList {
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-around;
}
.playerList {
  font-weight: bold;
  font-size: 30px;
}

.scoreList {
  display: flex;
  justify-content: center;
}
.scoreList p1 {
  background-color: darkorange;
  width: 80px;
  height: 80px;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 40px;
  color: whitesmoke;
  font-weight: bold;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.scoreList p2 {
  background-color: darkblue;
  width: 80px;
  height: 80px;
  font-size: 40px;
  color: whitesmoke;
  font-weight: bold;
  padding: 10px;
  display: flex;
  justify-content: center;
}
.winner {
  background-color: yellow;
  padding: 5px;
}
.match {
  border: 2px solid #a8a8a8;
}
.mininavbar {
  background-color: darkblue;
  color: whitesmoke;
  font-weight: bold;
  font-size: 15px;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  display: flex;
  padding: 8px;
}

.minilinks:hover {
  background-color: rgb(41, 41, 97);
  color: orange;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.toleft {
  position: fixed;
  left: 0%;
  top: 35%;
  transform: translateY(-50%);
  padding: 90;
}
