@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

.newsColumns {
  flex-direction: column;
  display: flex;
  border: 3px solid grey;
  border-radius: 5px;
  margin: 0 auto;
  width: 400px;
}
.newsBorder {
  flex-direction: column;
  float: left;
  display: inline;
  padding: 10px;
}
.newline {
  display: block;
  clear: both;
}
.newstitle {
  color: #000000;
  text-decoration: none;
}
.newstitle:hover {
  color: orange;
  text-decoration: underline;
}
.fixed-size-image {
  width: 400px;
  height: 250px;
  position: flex;
  border-radius: 5px;
}
.fixed-size-image:hover {
  transform: scale(1.02);
  transition: transform 250ms;
}
.newsColumns:hover {
  transform: translateY(-10px);
  transition: transform 250ms;
}
.category-box {
  display: inline-block;
  padding: 2px 4px;
  background-color: #de9348;
  color: #fff;
  border-radius: 5px;
}

.slidertext {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.custom-prev {
  left: 10px;
}

.custom-next {
  right: 10px;
}
.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.slidermiddle {
  max-width: 100%;
}
.slide-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titletext {
  /* position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: flex; */
  color: white;
  text-align: center;
}
.titletext h3 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  background: rgba(0, 0, 0, 0);
  display: inline;
  padding: 0.5em;
}

.title-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  text-align: center;
}
.title-overlay:hover {
  color: orange;
  text-decoration: underline;
}

.title-overlay h3 {
  margin: 0;
}

.sporty h2 {
  font-family: "Anton", sans-serif;
}
