.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.middle {
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.listRating {
  width: 140px;
  padding: 20px;
  border-radius: 10px;
  flex-direction: row;
  display: flex;
  border: 2px dotted orange;
  border-radius: 5px;
  margin: 0 auto;
  width: 300px;
}
.topReviewBox {
  width: 400px;
  height: 230px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  font-size: 16px;
}
.topReviewBox:focus {
  border-color: #007bff;
  box-shadow: 0 0 10px rgba(0, 123, 255, 0.5);
}
.text {
  letter-spacing: 1px;
  font-size: 25px;
  line-height: 25px;
  padding: 10px;
  color: rgba(2, 60, 123, 0.97);
}

.reviewBox {
  padding: 2rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.usernameSize {
  flex-direction: column;
  display: flex;
  border: 2px solid orange;
  border-radius: 5px;
  width: 300px;
  padding: 15px;
}

.usernameSize h4 {
  font-size: 1rem;
  font-weight: 500;
  padding: 15px;
}

.usernameSize p {
  letter-spacing: 1px;
  font-size: 14px;
  line-height: 25px;
}
.star {
  display: inline-flex;
  position: relative;
  font-size: 1.125rem;
  color: rgb(250, 175, 0);
  cursor: pointer;
  text-align: left;
  -webkit-tap-highlight-color: transparent;
  pointer-events: none;
}
